 <div class="well">
    <hr>
        {% if recent.Image %}
             <img src="{{ asset('images/index/gallery/' ~ recent.image) }}" height="100"> 
        {% endif %}
        <b id="TituloRecent"><a href="{{ path('single_post', {'Slug':recent.Slug}) }}">{{ recent.Title }}</a></b>
        <br>
        <h5> By <span>{{ recent.user.name }}</span></h5>
        <p>{{ recent.publishedAt | date('d') }} {{ recent.publishedAt | date('F') }}</p>
        <p><i class="fa fa-clock-o sr-icons"></i> 
         {{ recent.publishedAt | date('h') }} 
         {{ recent.publishedAt | date('A') }}
         </p>
</div>
    